In [2]:
tu = (23, 'abc', 4.56, (2,3), 'def')

In [3]:
print(tu)

(23, 'abc', 4.56, (2, 3), 'def')

In [5]:
li = ["abc", 34, 4.34, 23]

In [2]:
tu = (23, 'abc', 4.56, (2,3), 'def')

In [3]:
print(tu)

(23, 'abc', 4.56, (2, 3), 'def')

In [4]:
tu[1]

'abc'

In [9]:
tu[-1]

'def'

In [11]:
li = ["abc", 34, 4.34, 23]

In [12]:
print(li)

['abc', 34, 4.34, 23]

In [13]:
st ="Hello World"

In [14]:
st[1]

'e'

In [19]:
st[0:-1:3]

'HlWl'

In [21]:
tu[1:-1:2]

('abc', (2, 3))

softcopy

In [22]:
li

['abc', 34, 4.34, 23]

In [23]:
li[0]=56

In [24]:
li

[56, 34, 4.34, 23]

In [25]:
li1=li

In [26]:
li1

[56, 34, 4.34, 23]

In [27]:
li0=77

In [28]:
li1

[56, 34, 4.34, 23]

hardcopy

In [29]:
li2=li[:]

In [30]:
li2

[56, 34, 4.34, 23]

In [31]:
li[0]=100

In [32]:
li2

[56, 34, 4.34, 23]

The 'in' operator

In [33]:
t = [1, 2, 4, 5]

In [34]:
3 in t

False

In [35]:
4 not in t

False

In [36]:
a = 'abcde'

In [37]:
'c' in a

True

In [38]:
'cd' in a

True

In [39]:
'ac' in a

False

The + Operator

In [1]:
(1, 2, 3) + (4, 5, 6)

(1, 2, 3, 4, 5, 6)

In [2]:
[1, 2, 3] + [4, 5, 6]

[1, 2, 3, 4, 5, 6]

In [4]:
"Hello" + " " + "World"

'Hello World'