Mutability : Tuples vs. Lists (p.35~42)

Lists: Mutable

In [1]:
li = ['abc', 23, 4.34, 23]

In [2]:
li[1] = 45

In [3]:
li

['abc', 45, 4.34, 23]

Tuples: Immutable

In [5]:
t = (23, 'abc', 4.56, (2,3), 'def')

In [6]:
t[2] = 3.14

TypeError: 'tuple' object does not support item assignment

tuple은 값을 바꿀수없음.

In [7]:
li = [1, 11, 3, 4, 5]

append: 리스트가 통째로 추가됨

In [8]:
li.append('a')

In [9]:
li

[1, 11, 3, 4, 5, 'a']

insert: 원하는 위치에 삽입

In [11]:
li.insert(2, 'i')

In [12]:
li

[1, 11, 'i', 3, 4, 5, 'a']

extend : 값만 추가됨

In [13]:
li.extend([9, 8, 7])

In [14]:
li

[1, 11, 'i', 3, 4, 5, 'a', 9, 8, 7]

In [15]:
li.append([10, 11, 12])

In [16]:
li

[1, 11, 'i', 3, 4, 5, 'a', 9, 8, 7, [10, 11, 12]]

index : 위치찾기

In [17]:
li = ['a', 'b', 'c', 'd']

In [18]:
li.index('b')

1

count : 갯수세기

In [19]:
li.count('b')

1

remove : 첫번째 'b' 지우기

In [20]:
li.remove('b')

In [21]:
li

['a', 'c', 'd']

In [22]:
li = [5, 2, 6, 8]

reverse : 반대!

In [23]:
li.reverse()

In [24]:
li

[8, 6, 2, 5]

sort : 랜덤

In [25]:
li.sort()

In [28]:
li

[2, 5, 6, 8]

In [29]:
li.sort(some_function)

NameError: name 'some_function' is not defined

list와 tuple 변환

In [30]:
li = list(tu)
tu = tuple(li)

NameError: name 'tu' is not defined